div.kalendas-img-off {
	min-height: 14px;
	font-size: 80%;
	float: right;
	width: 80px;
	text-align: center;
	background: none;
}

div.kalendas-img-on {
	min-height: 14px;
	font-size: 80%; 
	float: right;
	width: 80px;
	text-align: center;
	background: url(../img/loading-page.gif) no-repeat center;
}
